# CDK asset staging directory
.cdk.staging
cdk.out

# # yarn zero install
# .yarn/*
# !.yarn/cache
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions

# yarn non-zero install
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# only for testing
bin
lib
node_modules
test

# except config
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
.yarnrc.yml
cdk.json
jest.config.js
tsconfig.json

*.ts
!*.d.ts

# Don't include original .ts files when doing `npm pack`
*.ts
!*.d.ts
coverage
.nyc_output
*.tgz

dist
.LAST_PACKAGE
.LAST_BUILD
!*.js

# Include .jsii
!.jsii

lambda/test
lambda/*.sh
*.snk

*.tsbuildinfo

tsconfig.json
.eslintrc.js

jest.config.js
# exclude cdk artifacts
**/cdk.out

junit.xml
test/
!*.lit.ts
**/*.integ.snapshot
**/*.integ.snapshot